@charset 'UTF-8';
*{
  box-sizing: border-box;
  color: #333;
  margin: 0;
  padding: 0;
}
img{
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  width: 100%;
}

a{
  text-decoration: none;
}

h2{
  font-family: montserrat,sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.wrapper{
  margin: 0 auto;
  max-width: 1100px;
  width: 76.39%;
}

.read_more{
  background-color: #000;
  color: #fff;
  display: block;
  font-family: 'Montserrat Medium',sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 160px;
}

.filter{
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

// header
header{
  border-radius: 2px;
  display: flex;
  left: 0;
  padding: 0 2.01%;
  top: 0;
  width: 100%;
  z-index: 50;
  h1{
    left: 2.01%;
    position: fixed;
    top: 30px;
    width: 260px;
    z-index: 70;
    &:hover{
      opacity: 0.5;
    }
    a{
      display: block;
    }
    .a{
      fill: #fff;
      transition-duration: 0.4s;
    }
    &.black .a{
      fill: #333;
    }
  }
  #hamburger-menu{
    color: #fff;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    padding-left: 29px;
    position: fixed;

    right: 4.03%;
    top: 36px;
    z-index: 150;
    &.black {
      color: #333;
      span {
        background-color: #333;
      }
    }

    &.open{
      color: #fff;
      span {
        background-color: #fff;
      }
      .top{
        left: 11px;
        transform: translate(-50%,-50%) rotate(30deg);
        top: 50%;
      }
      .center{
        opacity: 0;
      }
      .bottom{
        bottom: 50%;
        left: 11px;
        transform: translate(-50%,50%) rotate(-30deg);
      }
    }
  }
  span{
    background-color: #fff;
    height: 2px;
    left: 0;
    position: absolute;
    transition-duration: 0.4s;
    width: 22px;
  }
  .top{
    top: 0;
  }
  .center{
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom{
    bottom: 0;
  }

}

// header nav
#nav-wrapper{
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .nav-bg{
    background-color: rgba(34,34,34,0.6);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .nav-block{
    background-color: rgba(34,34,34,0.9);
    height: 100vh;
    max-width: 100%;
    padding-top: 180px;
    position: absolute;
    right: -100%;
    transition-duration: 0.4s;
    width: 520px;
    .logo{
      display: block;
      margin: 0 auto 40px;
      width: 42px;
    }
  }
  ul{
    list-style: none;
    margin: 0 auto;
    width: 120px;
    li{
      margin-bottom: 30px;
      text-align: center;
      a{
        color: #fff;
        font-family: montserrat,sans-serif;
        font-size: 20px;
        font-weight: 800;
      }
      &:nth-of-type(2){
        margin-bottom: 31px;
      }
    }
  }
  &.show{
    .nav-block{
      right: 0;
    }
  }
}

// fv
#fv{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(33,34,33,1) 54%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(33,34,33,1) 54%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(33,34,33,1) 54%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212221",GradientType=1);
  height: 740px;
  position: relative;
  #fv-img{
    background-image: url('../img/the-honest-company-uM-WXMr-1.png');
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    height: 640px;
    max-width: none;
    position: absolute;
    top: 0;
    width: 76.39%;
  }
  .fv-bg{
    background-color: #000;
    height: 100%;
    opacity: 0.34;
    width: 100%;
  }
  .fv-text-box{
    position: absolute;
    right: 13.47%;
    top: 161px;
    *{
      color: #fff;
    }
  }
  .small-text{
    font-family: '游ゴシック';
    font-size: 20px;
    font-weight: 700;
  }
  .small-text-en{
    font-family: 'Montserrat Medium',sans-serif;
  }
  .large-text{
    font-family: montserrat,sans-serif;
    font-weight: 800;
    font-size: 72px;
  }
}

// about_us
#about_us{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 627px, rgba(240,240,240,1) 627px);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 627px, rgba(240,240,240,1) 627px);
  background: linear-gradient(180deg, rgba(255,255,255,1) 627px, rgba(240,240,240,1) 627px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f0f0f0",GradientType=1);
  padding-top: 120px;
  .about_us-bg{
    background-image: url('../img/about-img.png');
    background-size: cover;
    padding: 110px 4.5%;
  }
  .about_us-box{
    background-color: #f0f0f0;
    padding: 50px 30px;
    max-width: 100%;
    width: 590px;
    p{
      font-family: 'Noto Sans JP';
      line-height: 2;
      margin-bottom: 30px;
    }
  }
}

// works,culture
.two-col{
  background-color: #f0f0f0;
  padding-bottom: 60px;
  padding-top: 80px;
  .wrapper{
    display: flex;
    justify-content: space-between;
  }
  #works,#culture{
    width: 47.27%;
  }
  .img-wrapper{
    background-size: cover;
    height: 24.31vw;
    margin-bottom: 27px;
    max-height: 350px;
    position: relative;
  }
  #works {
    margin-bottom: 80px;
    .img-wrapper{
      background-image: url('../img/daria-shevtsova-k_RYBedEvDw-unsplash.png');
    }
    .filter{
      background-color: rgba(0,0,0,0.24);
    }
  }
  #culture .img-wrapper{
    background-image: url('../img/timon-studler-BIk2ANMmNz4-unsplash.png');
    .filter{
      background-color: rgba(0,0,0,0.34);
    }
  }

  p{
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    font-weight: 500;
    margin-bottom: 28px;
  }
}

// latest_topics
#latest_topics{
  padding: 60px 0;
  h2{
    width: 100%;
  }
  .wrapper{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  .topics_box{
    width: 63.64%;
    .topics_item{
      border-bottom: 1px solid #ddd;
      margin-bottom: 29px;
      &:last-of-type{
        margin-bottom: 30px;
      }
    }
    time{
      color: #cecece;
      display: inline-block;
      font-family: 'Montserrat Medium',sans-serif;
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 9px;
    }
    p{
      font-family: '游ゴシック';
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
}

// contact
#contact{
  background-color: #f2f2f2;
  padding: 60px 0 120px;
  .wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .contact_text{
    width: 40%;
    p{
      font-family: '游ゴシック';
      font-weight: 500;
      line-height: 2;
      margin-bottom: 60px;
    }
  }
  .contact_img{
    position: relative;
    width: 52.73%;
  }
  .filter{
    background-color: rgba(0,0,0,0.34);
  }
}

// footer
footer{
  background-color: #525252;
  padding: 18px 0;
  small{
    color: #fff;
    display: block;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  .wrapper{
    width: 91.15%;
  }

  // header
  header h1{
    top: 35px;
    width: 189px;
  }
  
  // fv
  #fv {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(34,34,34,1) 26%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(34,34,34,1) 26%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(34,34,34,1) 26%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#222222",GradientType=1);
    height: 1024px;
    #fv-img{
      height: 890px;
    }
    .fv-text-box{
      right: 12%;
    }
    .small-text{
      font-size: 16px;
    }
    .small-text-en{
      font-size: 16px;
      font-weight: bold;
    }
    .large-text{
      font-size: 56px;
    }
  }

  // about_us
  #about_us {
    padding-top: 80px;
    .wrapper{
      margin: 0;
      width: 100%;
    }
    .about_us-bg{
      padding: 60px 11.59%;
    }
    .about_us-box{
      padding: 40px 30px;
    }
    .read_more{
      font-size: 11px;
    }
  }

  // works,culture
  .two-col {
    padding-bottom: 40px;
    padding-top: 60px;
    .wrapper{
      flex-direction: column;
    }
    #works,#culture{
      width: 74.29%;
    }
    .img-wrapper{
      height: 45.57vw;
    }
  }
  // latest_topics
  #latest_topics {
    padding: 40px 0;
    .wrapper{
      align-items: start;
    }
    .topics_box{
      width: 100%;
    }
  }

  // contact
  #contact{
    padding: 40px 0 80px;
    .wrapper{
      flex-direction: column-reverse;
      &>*{
        width: 100%;
      }
    }
    .contact_img{
      margin-bottom: 40px;
    }
  }
  // footer
  footer small{
    font-size: 10px;
  }
}

@media screen and (max-width: 375px){
  h2{
    font-size: 28px;
  }
  .wrapper{
    width: 92%;
  }

  // header
  header h1{
    top: 20px;
  }

  // fv
  #fv {
    height: 667px;
    #fv-img{
      height: 580px;
    }
    .fv-text-box{
      right: 2.6%;
    }
  }

  // about_us
  #about_us {
    padding-top: 78px;
    .about_us-bg{
      padding: 50px 4%;
    }
    .about_us-box p{
      font-size: 14px;
    }
  }

  // works,culture
  .two-col{
    padding-top: 40px;
    #works,#culture{
      width: 100%;
    }
    #works{
      margin-bottom: 40px;
    }
    .img-wrapper{
      height: 61.87vw;
    }
  }

  // latest_topics
  #latest_topics .topics_box p{
    font-size: 12px;
  }

  // contact
  #contact{
    padding-bottom: 40px;
    .contact_img{
      margin-bottom: 30px;
    }
  }
}