@charset 'UTF-8';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  width: 100%;
}

a{
  text-decoration: none;
}

h2{
  font-family: montserrat,sans-serif;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.wrapper{
  margin: 0 auto;
  max-width: 1100px;
  width: 76.39%;
}

.readme{
  background-color: #000;
  color: #fff;
  display: block;
  font-family: 'Montserrat Medium',sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 160px;
}


// header
header{
  border-radius: 2px;
  display: flex;
  left: 0;
  padding: 0 2.01%;
  top: 0;
  width: 100%;
  z-index: 100;
  h1{
    left: 2.01%;
    top: 30px;
    position: fixed;
    z-index: 100;
  }
  #humberger-menu{
    color: #fff;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    height: 12px;
    left: 91.74%;
    line-height: 12px;
    padding-left: 29px;
    position: fixed;
    top: 36px;
    z-index: 50;
    &.open{
      .top{
        left: 11px;
        transform: translate(-50%,-50%) rotate(30deg);
        top: 50%;
      }
      .center{
        opacity: 0;
      }
      .bottom{
        bottom: 50%;
        left: 11px;
        transform: translate(-50%,50%) rotate(-30deg);
      }
    }
  }
  span{
    background-color: #fff;
    height: 2px;
    left: 0;
    position: absolute;
    transition-duration: 0.4s;
    width: 22px;
  }
  .top{
    top: 0;
  }
  .center{
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom{
    bottom: 0;
  }

}

// fv
.fv{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(33,34,33,1) 54%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(33,34,33,1) 54%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 54%, rgba(33,34,33,1) 54%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212221",GradientType=1);
  height: 740px;
  position: relative;
  img{
    left: 0;
    max-width: none;
    position: absolute;
    top: 0;
    width: 76.39%;
  }
  .fv-text-box{
    color: #fff;
    left: 66.25%;
    position: absolute;
    top: 161px;
  }
  .small-text{
    font-family: '游ゴシック';
    font-size: 20px;
    font-weight: 700;
  }
  .small-text-en{
    font-family: 'Montserrat Medium',sans-serif;
  }
  .large-text{
    font-family: montserrat,sans-serif;
    font-weight: 800;
    font-size: 72px;
  }
}

// about_us
#about_us{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 627px, rgba(240,240,240,1) 627px);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 627px, rgba(240,240,240,1) 627px);
  background: linear-gradient(180deg, rgba(255,255,255,1) 627px, rgba(240,240,240,1) 627px);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f0f0f0",GradientType=1);
  padding-top: 120px;
  .about_us-bg{
    background-image: url('../img/about-img.png');
    background-size: cover;
    padding: 110px 4.5%;
  }
  .about_us-box{
    background-color: #f0f0f0;
    padding: 50px 30px;
    max-width: 100%;
    width: 590px;
    p{
      font-family: 'Noto Sans JP';
      line-height: 2;
      margin-bottom: 30px;
    }
  }
}

// works,culture
.two-col{
  background-color: #f0f0f0;
  padding-bottom: 60px;
  padding-top: 80px;
  .wrapper{
    display: flex;
    justify-content: space-between;
  }
  #works,#culture{
    width: 47.27%;
  }
  .img-wrapper{
    background-size: cover;
    height: 24.31vw;
    margin-bottom: 27px;
    max-height: 350px;
  }
  #works .img-wrapper{
    background-image: url('../img/daria-shevtsova-k_RYBedEvDw-unsplash.png');
  }
  #culture .img-wrapper{
    background-image: url('../img/timon-studler-BIk2ANMmNz4-unsplash.png');
  }

  p{
    margin-bottom: 28px;
  }
}

// latest_topics
#latest_topics{
  padding: 60px 0;
  h2{
    width: 100%;
  }
  .wrapper{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  .topics_box{
    width: 63.64%;
    .topics_item{
      border-bottom: 1px solid #ddd;
      margin-bottom: 29px;
      &:last-of-type{
        margin-bottom: 30px;
      }
    }
    time{
      color: #cecece;
      display: inline-block;
      font-family: 'Montserrat Medium',sans-serif;
      font-size: 10px;
      font-weight: 700;
      margin-bottom: 9px;
    }
    p{
      font-family: '游ゴシック';
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 10px;
    }
  }
}

// footer
footer{
  background-color: #525252;
  padding: 18px 0;
  small{
    color: #fff;
    display: block;
    font-family: montserrat,sans-serif;
    font-weight: 500;
    text-align: center;
  }
}